h2{
  padding-left: 2rem;
  font-size: 3rem;
}

.favourite{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  

  &-item{
    padding: 2rem;   

    .title{
      font-size: 1.5rem;      
      width: 250px;
      height: 100px;
      padding:  1rem 0;
    }
    .tagline{
      font-weight: 700;
      font-size:1.5rem;
      text-align: center;
    }
    .btn{
      border-color: #fff;
      background-color: #fff;
      color: #0d253f;
      font-size: 1rem;
      font-weight: bold;
      display: inline-block;
      word-wrap: break-word;
      white-space: normal;
      text-transform: uppercase;
      padding: 0.4rem 1.3rem;
      border-radius: 10px;   
  
      &:focus{
        outline: none;      
      }
      &:hover{
        cursor: pointer;
        opacity: 0.7;
      }  
    }
    .remove{
      width: 30px;
      padding: 0 2rem;
      
      &:hover{
        cursor: pointer;
        opacity: 0.7;      
      }
    }
    .removeItem{
      display: none;
    }
  }
}

