.movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .product{
    padding: 1rem;
    text-align: left;
  }
  .description{
    width: 350px;
  }

  .product img{
    width: 237px;
    height: 350px;
  }
  .title{
    font-size:2rem;
  }
  .tagline{
    font-weight: 700;
    font-size:1.5rem;
  }
}