.header {  
    &-blocks {
      display: flex;
      justify-content: space-around;
      align-content: right;
      padding: 2rem 0;
      background: #0d253f;
    }
    &-menu{
      .menu-items{
        color:#01b4e4;
        padding: 30px;
        text-decoration: none;
        text-transform: uppercase; 

        &:hover{
          color: #90cea1;
          cursor: pointer;         
        }      
      }
    }
}